@model LAEQ_DB.Machine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalibrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalibrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
